th,td{

    padding:22px;
    border:2px solid;
    font-size: 30px;
}

table{
    
    border-collapse: collapse;
}
th{
    background-color: rgba(194, 148, 236,0.6);
}
tr:nth-child(odd){
    background-color: rgb(216, 112, 112,0.9);
   
}
tr:nth-child(even) {
    background-color: #995656;}

td:hover{
background-color: skyblue;
}

th:hover{
 background-color: green;
}

tr:hover{
background-color: rgba(104, 101, 101,0.5);}

.schedule{
    overflow-x:auto;
}