
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Sen',sans-serif;
    }

    .header {
        background-color: #000000; 
        padding: auto ;
    }

    .container {
        max-width: 1200px;
        height: 80px;
        margin: 0 auto;
    }

    .flex-menu {
        display: flex;
        padding-top: 25px;
        align-items: center;
        width: 100%;
        justify-content: space-between; 
    }
    .navbar ul li a{
        text-decoration: none;
    padding: 0 10px;
    color: white;
    }


    .navbar .menu {
        display: flex;
        list-style: none; 
        justify-content: space-between; 
    }


    .navbar .menu li {
        margin: 0 15px;
        list-style: none;
        font-size: 16px;
        display: flex;
        align-items: center;
        height: 30px; 
    
    }


    .navbar .menu .subscription button {
        background-color: #fdfeff; 
        color: rgb(0, 0, 0);
        border: none;
        padding: 0px 15px;
        
        line-height: 30px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        margin:auto;
        
    }


    .navbar .menu .subscription {
        display: flex;
        align-items: center; 
        height: 100%;
    }


    .menu li {
        display: flex;
        align-items: center;
        color: white;
        font-size: 16px;
    }

    .intro{
        background-image: url('C:/Users/ShobigaChinnasamy/Documents/frontEnd/day4/images/Home Hero.png');
        max-width: 1440px;
        height: 720px;

    }
    
    .intro {
        background-image: url('C:/Users/ShobigaChinnasamy/Documents/frontEnd/day4/images/Home Hero.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 1440px;
        height: 720px;
        position: relative;
        padding: 0 20px;
    }

    .home-guide {
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        align-items:flex-start; 
        width: 804px;
        height:600px;
        padding: 20px; 
        color: white; 
        background: transparent; 
        padding-top:128px;
        margin-left: 40px;
    }

    .big-font{
        font-size: 50px;
    }
    .author{
        color:#f3b919;
    }

    .read-more button {
        background-color: #f3b919;
    width :205px ;
    height:56px;
        border: none;
        padding: 10px 15px;
    
        cursor: pointer;
    }

    .read-more button:hover {
        background-color: #3993f3;
    }

    .common>div{
    
    margin: 80px 80px 0 80px;
    }

    .post{
        /* padding: 90px 78px 90px 80px ; */
        display:flex;
        justify-content: space-between;

    }

    h2{
    font-size: 20px;
    }
    .featured-post{
    
    }

    .fp-card{
        margin: 20px 20px 20px 0;
        margin: none;
        padding: 20px;
        border: 0.5px solid rgb(128, 128, 128,0.1);
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        width: 733px;
        height: 724px;
    }

    .all-posts{
        margin: 0 20px;
        width:517px;
        height: 804px;
        
        /* display:flex;
        flex-direction: column;
        justify-content: space-between; */

    }

    .all-posts-top{
        display: flex;
        justify-content: space-between;
    }
    .all-posts-top a{
    text-decoration: none;
    }

    .all-posts > ul {
            list-style-type: none;
            
    }

    .all-posts > ul >li{
        margin: 20px;
        padding:20px 40px 20px 20px ;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .all-posts > ul >li:hover{
    background-color: rgb(250, 234, 237);
    margin-right: 0px;
    }

    .one-post p{
        margin-bottom: 10px;
    }

    .post-author{
        color:rgb(110, 38, 168);
    }
    .moto{
        display: flex;
        flex-direction: column;
        gap:0;
    
    } 
    .moto img{
    float:right;
    /* position:relative;
    left:10.8%; */
    

    }
    .pattern{
    overflow: auto;}

    .moto-div{
    
        width: 1190px;
        height: 500px;
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        padding: 96px 80px;
        background-color: rgb(230, 230, 230);
    
    }

    .about-us{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:50%;
        margin: 30px;
    }

    .mission{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:50%;
        height: 75%;
        margin-top: 30px;
    }

    .read-more-no-bg button{
        background-color: transparent;
        border: hidden;
        cursor: pointer;
        
        color:rgb(110, 38, 168) ;
    }
    .category{
        max-width: 1220px;
    }

    .category h1{
    text-align: center;
    }

    .category ul{
    list-style-type: none;
    display: flex;
    gap:60px;
    justify-content:space-around;
    margin-top: 60px;

    }

    .category li img{
    
        padding: 10px;
        background-color:rgb(253, 212, 220) ;
        border:hidden;
        border-radius: 10px;
    }
    .catg-icon1 img{
        width: 48px;
        height: 48px;
        padding: 10px;
        background-color:rgb(253, 212, 220) ;
        border:hidden;
        border-radius: 10px;
    }

    .category ul li .one-catagory{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        width:250px;
    
        padding:25px;

        justify-content: space-between;
        border: 1px solid rgb(197, 197, 197);
    }

    .category ul li .one-catagory:hover{
        background-color: #f3b919;
    }

    .history{
        display: flex;
        position: relative;
        

    
    }

    .history-img img{
        position: relative;
    z-index: 0;
    width: 949px;
    height: 705px;
    }

    .story{
        width:612px;
        height: 584px;
        
        position:relative;
        z-index: 1;
        left: -370px;
        top:121px;
        background-color: #fdfeff;
        padding: 90px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
    


    }

    .author-list > h1{
    text-align: center;
    }


    .author-list > ul{
        text-align: center;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    .author-list > ul > li{
        width:270px;
        height: 327px;
        border:hidden;
        background-color: rgb(221, 221, 221);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    margin-top: 70px;
        
    }

    .one-author-list>img{
        width: 128px;
        height: 128px;


    }

    .author-list > ul > li .one-author-list{
        width:270px;
        height: 327px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .one-author-list:hover{
        background-color:  rgb(250, 234, 237);
    }

    .social-media img{
    margin: 0 6px;
        
    }

    .features{
        display: flex;
        justify-content: space-between;
    }


    .details{
        background-color:rgb(250, 234, 237) ;
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        height: 464px;
    padding: 90px;
    
    
    }

    .testimonials{
        width: 349px;
        height: 200px;
        margin:30px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        
    
    }

    .details-2{
        margin: 30px;
        margin-left: 50px;
    flex:2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-creator{
        margin-top:30px;
        width: 469px;
        height: 128px;
    }

    .auth-details{
        display: flex;
        justify-content: space-between;
    }

    .auth-name{
        display: flex;
        justify-content: space-around;
    
    }

    .auth-photo{
        margin-right: 10px;

    }

    .arrow a{
    
        background-color: white;
        border-radius: 40px;
        text-decoration: none;
        padding: 15px;
    
        margin-right: 10px;
        color:black;
    }

    .arrow a:hover{
        background-color: black;
        
        color: white;
    }

    .details>img{
        margin: 20px;
    }

    .team {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        height: 256px;
        width: 414px;

        position: relative;
    left: 30%;
    
    
    }
    


    .footer{
        margin-top: 80px;
        background-color: #000000;
        max-width: 1440px;
        height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 80px;
        color: white;
    }

    .foot-nav{
        display: flex;
        
        justify-content: space-between;
    }
    .foot-nav ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    
    }

    .foot-nav ul li a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
    }


    .foot-contact{
        text-align: center;
        width: auto;
        height: 256px;
        background-color: rgb(22, 22, 22);
    padding: 60px;
        display: flex;
        justify-content: space-between;
    }
    .foot-contact h1{
        flex:2;
    }

    .foot-contact .contact-email{
        flex:3;
    }


    input {
        width:350px;
    margin-top: 20px;
        height:56px;
    }

    input[type=email]{
        background-color:  rgb(22, 22, 22);
        border-color:  1px solid rgb(197, 197, 197);
        padding: 2px;
        padding-left: 15px;
        color:white;
        margin-right: 10px;
    }

    input[type=submit] {
        background-color: #f3b919;
    width :205px ;
    height:56px;
        border: none;
        padding: 10px 15px;
        font-weight: bold;
    
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #3993f3;
    }

    .foot-media{
        display: flex;
        justify-content: space-between;
    }

    .copyright>p{
            color:grey;
    }

    @media  screen and (max-width: 900px) {
        *{
            max-width: 900px;
        }

        .header {
            background-color: #000000; 
          
            width:fit-content;
            padding: 5px;
            
        }
        
        .container{
            padding: 2px;
        }
       
        .flex-menu {
            align-items: center;
            display: flex;
            padding: auto;
            margin-top: 10px;
            padding: 10px;
            align-items: center;
           justify-content: space-between; 
          
        }

        .navbar .menu {
            display: flex;
            list-style: none; 
           
        }
        .navbar ul li a{
            text-decoration: none;
        padding: 0 auto;
        color: white;
        }

        .navbar .menu li {
            margin: 0 auto;
            list-style: none;
          
            display: flex;
            align-items: center;
            height: auto; 
        
        }
        .navbar .menu .subscription button {
            background-color: #fdfeff; 
            color: rgb(0, 0, 0);
            border: none;
            padding: 0px auto;
            
            line-height: auto;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            margin:auto;
            
        }

        .menu li {
            display: flex;
            align-items: center;
            color: white;
            font-size: auto;
        }
        
    }


    @media  screen and (max-width: 600px) {
        *{
            max-width: 600px;
        }
    }